.modal-content {
  text-align: center;
}

.company-logo-container {
  margin-bottom: 20px;
}

.company-logo {
  width: 150px;
  height: auto;
}

.qr-code {
  width: 100%;
  max-width: 300px;
  margin: 20px auto;
}

.payment-amount {
  margin-top: 10px;
  font-size: 18px;
}

.time-left {
  margin-top: 10px;
  font-size: 16px;
}

.upi-button {
  margin-top: 20px;
  font-size: 16px;
  width: 100%;
  background-color: #306EBA;
  color: white;
}
