.HeaderContainer{
    background-color: white;
    height: 50px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    /* position: fixed; */
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    z-index: 999;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;}  
    
    
    .HeaderLogo2{
    height: 53px;
    
    /* width: 132px; */
  

}