.FooterContainer {
    background-color: black;
    color: white;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 16px; /* Default font size */
}

/* Media query for smaller screens */
@media only screen and (max-width: 600px) {
    .FooterContainer {
        font-size: 12px; /* Smaller font size for mobile devices */
    }
}
