/* Dropdown.css */

.form-group-Dropdown {
    margin-bottom: 1px;
    width: 200px;
    max-width: 450px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  .dropdown {
    background-color: white;

    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;

  }
  .disabled{
    cursor: not-allowed;
  }
  
  .dropdown.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  /* You can add additional styling as needed */
  